@charset "UTF-8";

/* Declaração Demais Mídias */

/* Typical Devices Breakpoints */

/* Mobile Devices:     min: 320px  max: 600px
   iPads, Tablets:     min: 768px  max: 1024px
   Desktops, Laptops:  min: 1024px max: 1200px
   Tvs:                min: 1200px */

@media (min-width: 768px) {
    #burguer { display: none; }

    /* !important - Força o menu aparecer */
    nav { display: block !important; }

    nav > ul > li {
        display: inline-block;
    }

    #itens {
        text-align: center;
        margin-top: 20px;
    }

    main {
        max-width: 800px;
    }
}